{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='landing/' + 'opensans-font.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='landing/' + 'line-awesome.min.css')}}">



    <link rel="stylesheet" href="{{url_for('static', filename='landing/' + 'site-demos.css')}}">

    <link rel="stylesheet" href="{{url_for('static', filename='landing/' + 'style.css')}}">
</head>
<body class="form-v4">
    <div class="page-content">

        <div class="form-v4-content">
            <div class="form-left">
                <h2>EQUIZZY.COM</h2>
<h2>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="flash-message alert alert-{{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
</h2>
<h3 class="text-1">Register with your email</h3>
                <p class="text-3"><span></span> For any enquiries contact us
at equizzysocial@gmail.com</p>

                <div class="form-left-last">
                    <a href="{{ url_for('auth.login') }}">
                        <input type="submit" name="account" class="account" value="Have An Account">
                    </a>
                </div>
            </div>
            <form class="form-detail" action="{{ url_for('auth.register') }}" method="post"  novalidate="novalidate">
                    {{ form.hidden_tag() }} {{ wtf.form_errors(form, hiddens="only") }}

                <h2>REGISTER</h2>
                <div class="form-group">
                    <div class="form-row form-row-1">
                        <label for="first_name">User Name</label>
                        {{ form.username(class="input-text",id="username",required="required",type="text",value="",placeholder="") }}
                                    {% for error in form.username.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}

                    </div>
                    <div class="form-row form-row-1">
                        <label for="last_name">Email</label>
                        {{ form.email(class="input-text",id="email",required="required",type="text",value="",placeholder="") }}
                                    {% for error in form.email.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row form-row-1 ">
                        <label for="password">Password</label>
                        {{ form.password(class="input-text",id="password",required="required",type="password",value="",placeholder="") }}

                                    {% for error in form.password.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}

                    </div>
                    <div class="form-row form-row-1">
                        <label for="comfirm-password">Confirm Password</label>
                        {{ form.password2(class="input-text",id="password2",required="required",type="password",value="",placeholder="") }}
                             {% for error in form.password2.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
                    </div>
                </div>
                     <div id="register_submit" class="form-row-last">
                        {{ form.submit(class="register") }}
                        <!-- <script type="text/javascript">
                            document.getElementById("submit").addEventListener("click",
                                function(event){
                                    event.preventDefault()
                                });
                        </script> -->
                    </div>
            </form>
        </div>
    </div>

    <script src="{{url_for('static', filename='landing/' + 'jquery-1.11.1.min.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='landing/' + 'jquery.validate.min.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='landing/' + 'additional-methods.min.js')}}" type="text/javascript"></script>

    <script type="text/javascript">
        jQuery.validator.setDefaults({
            debug: true,
            success:  function(label){
                label.attr('id', 'valid');
            },
        });
        $( "#myform" ).validate({
            rules: {
                password: "required",
                comfirm_password: {
                    equalTo: "#password"
                }
            },
            messages: {
                first_name: {
                    required: "Please enter a firstname"
                },
                last_name: {
                    required: "Please enter a lastname"
                },
                your_email: {
                    required: "Please provide an email"
                },
                password: {
                    required: "Please enter a password"
                },
                comfirm_password: {
                    required: "Please enter a password",
                    equalTo: "Wrong Password"
                }
            }
        });
    </script>


</body>

</html>


{% endblock %}
