@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

body {
    font-family: Source Sans Pro Bold;
}

.custompager{
  font-family: Source Sans Pro Bold;
}

body {
  background: #fafafa;
  color: #333333;
  font-size: 22px;
}

.wrapper {
  display: grid;
  grid-row-gap: 10px;
  grid-template-columns: auto auto ;
  color: #444;
  margin-top: 60px;
  margin-bottom: 100px;

}

@media (min-width: 992px) {
 .gutter .col-sm-4 {
   border-right: 12px white solid;
 }
}

.boClass{
min-height:80px;
  background-color: lightslategray;
    color: #fff;
      font-size: 110%;
  border-radius: 5px;
  padding: 4px;
    margin-bottom:15px;
        text-align:center;
            outline-offset: -10px;
}

.boClass:hover {
    color: #darkgrey;
}

.boClass a{
  color: #fff;
}
.box {
  background-color: lightslategray;
  color: #fff;
  border-radius: 5px;
  padding: 4px;
  font-size: 110%;
  max-width:320px;
  margin: auto;
    height: auto;
    margin-top:auto;
    margin-bottom:auto;
    text-align:center;
}

.box:hover {
    color: #lightgrey;
    background-color: darkgrey;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro Bold', sans-serif;
}

table{
    font-family: 'Source Sans Pro Bold', sans-serif;
}
p {
  color: black;
  font-family: 'Source Sans Pro Bold', sans-serif;
}
.nav-item{
    font-family: 'Source Sans Pro Bold', sans-serif;
}

.test-title{
    text-align: center;
}

.randomClass.lightseagreen{
  background-color: lightseagreen;
}

.randomClass.yellow{
  background-color: yellow;
}


.form-group{
    font-family: 'Source Sans Pro Bold', sans-serif;
}

.logout-class{
  text-align: center
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}


.taken-test-p{
  color: lightseagreen;
}

.navbar-nav{
  color: #ffffff;
}

.nav-item {
  color: #ffffff;
}

.navbar-nav.li.a{
  color: #ffffff;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}



.navbar-custom .navbar-nav > li > a {
    color:#ffffff;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a {
    text-decoration: none;
    color: lightseagreen;
  }


.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border-radius: 3px;
  margin-bottom: 20px;
}

.floatRight{
    float: right;
}

.floatLeft{
  float: left;
}

.add-ques-btn{
  display: inline-block;
      padding: inherit;

    /* padding: 6px 12px; */
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 800;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.taken-test-btn{
    border:4px solid;
    border-radius:5px;
    width: auto;
    padding-left:5px;
    padding-right: 5px;
    position: relative;
    float:right;
    color: lightseagreen;
    margin: 12px 2px 0 2px;
    text-decoration:blue;
    cursor: pointer;
    font-weight: bold;
  }

.logo{
    max-width: 220px;
    margin-top: -12px;
}
  .submitQuiz{
    border:4px solid;
    border-radius:5px;
    width: 40px;
    padding-left:5px;
    padding-right: 5px;
    position: relative;
    float:right;
    color: lightseagreen;
    margin: 12px 2px 0 2px;
  text-decoration:blue;
    cursor: pointer;
}

a.article-title {
  color: #007bfe;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.testAClass:visited{
  color: navy;

}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

p {
    font-size: 2.25rem;
}

#title {
    text-decoration: underline;
}

#quiz {
    text-indent: 10px;
    display:none;
}



#test_id_div {
    text-indent: 10px;
    display:none;
}

#score {
  text-align: center;
}


#time_in_mins_div {
    text-indent: 10px;
    display:none;
}
#positive_marks_div {
    text-indent: 10px;
    display:none;
}

#negative_marks_div {
    text-indent: 10px;
    display:none;
}


#ques_buttons_div
{
  color: #444444;
}


#end_of_test_div {
    text-indent: 10px;
    display:none;
    font-size: 2.25rem;
}

#total_marks_div {
    display:none;
}

#user_id_div {
    display:none;
}
.button {
    border:4px solid;
    border-radius:5px;
    width: auto;
    padding-left:5px;
    padding-right: 5px;
    position: relative;
    float:left;
    color: lightseagreen;
    margin: 12px 2px 0 2px;
    left: 1%;
    cursor: pointer;
}

.ques_nav_container
{
  display: none;
  text-align: center;
     width:auto;
     text-align: center;
    margin:auto;
    padding: 0 25px 55px 10px;
  background-color: #FFFFFF;
    border:4px solid #B0E0E6;
    border-radius:5px;
  color: black;
    font-weight: bold;
    box-shadow: 5px 5px 5px #888;
}
.button.active {
    background-color: #F8F8FF;
    color: #525252;
}
.prev_next{
    border:4px solid;
    border-radius:5px;
    width: 40px;
    padding-left:5px;
    padding-right: 5px;
    position: relative;
    float:left;
    color: lightseagreen;
    margin: 12px 2px 0 2px;
  text-decoration:none;
    cursor: pointer;
}



.remain{
    display: block;
    columns: red;
  }

br {
  display:block;
  margin-top:10px;
  line-height:22px;
}


.randomClass{
    border-radius:5px;
    border : 2px solid black;
    border : 2px solid black;
    width: 50px;
    padding-left:5px;
    padding-right: 5px;
    position: relative;
    float:center;
    background-color: white;
    color: #34495E;
    margin: 12px 2px 0 2px;
  text-decoration:none;
    cursor: pointer;
}

#ques_buttons_div{
    width:auto;
}

#nav_for_questions{
  text-align: center;
  color: darkcyan;
}

#section_at_test{
  text-align: center;
  color: darkcyan;
  font-size: 35px;
}


button {
    position: relative;
    float:left;
}

#container {
    width:auto;
    margin:auto;
    padding: 0 25px 55px 10px;
    border:4px solid #B0E0E6;
    border-radius:5px;
  color: black;
  background-color: #FFFFFF;
    font-weight: bold;
    box-shadow: 5px 5px 5px #888;
}

.container .timerCount { float:right }

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#prev {
  width: auto;
}

#next {
  width: auto;
}


#start {
    display:none;
    width: auto;
}

#submitQuiz{
  display:none;
  width: auto;
}

input[type="radio"]{
    margin: 0 -4px 0 10px;
    font-size: 0.9rem;
    width: 2%;
    height: 2em;
}


.radioClass{
  font-size: 1.5rem;
}


label {
    display: inline-block;
    margin-bottom: .5rem;
    font-size: 20px;
    cursor: pointer;
    vertical-align: middle;
}


.form-control {
    font-size: 18px;
  }

.navbar-brand {
    font-size: 28px;
}

#tick {
    color: green;
    vertical-align: middle;
    font-size: 23px;
}


.score-sheet.table {
  border-collapse: collapse;
  width: 100%;
}

.score-sheet.td, .score-sheet.th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

.score-sheet.tr:nth-child(even) {
  background-color: lightseagreen;
}


#score-sheet {
  border-collapse: collapse;
  width: 100%;
}

#score-sheet td, #score-sheet th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#score-sheet tr:nth-child(odd){background-color: lightseagreen; color: white}
#score-sheet tr:nth-child(even){background-color: #ddd; color: black}

#score-sheet th {
  padding-top: 12px;
  padding-bottom: 12px;
}
 /* Font Definitions */
 @font-face
  {font-family:"MS Mincho";
  panose-1:2 2 6 9 4 2 5 8 3 4;}
@font-face
  {font-family:"Cambria Math";
  panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
  {font-family:"Book Antiqua";
  panose-1:2 4 6 2 5 3 5 3 3 4;}
@font-face
  {font-family:Tahoma;
  panose-1:2 11 6 4 3 5 4 4 2 4;}
@font-face
  {font-family:"\@MS Mincho";
  panose-1:2 2 6 9 4 2 5 8 3 4;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
  {margin-top:0in;
  margin-right:0in;
  margin-bottom:10.0pt;
  margin-left:0in;
  line-height:115%;
  font-size:11.0pt;
  font-family:"Book Antiqua",serif;}
p.MsoAcetate, li.MsoAcetate, div.MsoAcetate
  {mso-style-link:"Balloon Text Char";
  margin:0in;
  margin-bottom:.0001pt;
  font-size:8.0pt;
  font-family:"Tahoma",sans-serif;}
p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph
  {mso-style-link:"List Paragraph Char";
  margin-top:0in;
  margin-right:0in;
  margin-bottom:0in;
  margin-left:.5in;
  margin-bottom:.0001pt;
  font-size:11.0pt;
  font-family:"Arial",sans-serif;}
span.BalloonTextChar
  {mso-style-name:"Balloon Text Char";
  mso-style-link:"Balloon Text";
  font-family:"Tahoma",sans-serif;}
span.ListParagraphChar
  {mso-style-name:"List Paragraph Char";
  mso-style-link:"List Paragraph";
  font-family:"Arial",sans-serif;}
.MsoChpDefault
  {font-family:"Book Antiqua",serif;}
.MsoPapDefault
  {margin-bottom:10.0pt;
  line-height:115%;}
@page WordSection1
  {size:8.5in 11.0in;
  margin:.5in .5in .5in .5in;
  border:solid windowtext 1.0pt;
  padding:24.0pt 24.0pt 24.0pt 24.0pt;}
div.WordSection1
  {page:WordSection1;}
