{% extends "base.html" %}

{% block app_content %}


{% if current_user.is_authenticated %}



<h1 class="mb-3 user-posts-heading"> </h1>

  <div class="wrapper">
      {% for type in test_types %}
        <a href="{{ url_for('tests.tests_final', child_test_type_id=type.id) }}">
        <div class="box">{{ type.child_test_type }}</div>
      {% endfor %}
  </div>


{% else %}

    <div>
      <div class="logout-class"> Please Login !</div>
        <div class="article-metadata"></div>
    </div>


{% endif  %}


{% endblock app_content %}
