{% extends "base.html" %}

{% block app_content %}


{% if current_user.is_authenticated %}



<h1 class="mb-3 user-posts-heading"> </h1>

<div class="container-fluid gutter custompager">
  <div class=".row-fluid">
      {% for type in parent_test_types %}
         <a class="col-md-4 boClass col-sm-6 col-xs-12 " href="{{ url_for('tests.tests_test_type_parent', parent_test_type_id=type.id) }}">
       <span style="font-family: sans-serif"> {{ type.parent_test_type }} </span>
      </a>

      {% endfor %}
  </div>
  </div>


{% else %}

    <div>
      <div class="logout-class"> Please Login !</div>
        <div class="article-metadata"></div>
    </div>


{% endif  %}


{% endblock app_content %}
