
{% extends "base.html" %}


{% block app_content %}

<div id='container' class='container'>
  
  <div id='title' class='test-title'>
    <h1 class='test-title'>{{ test.test_name }}</h1>
  </div>
  
  <div id='test_instr_div'> {{ test.instructions }} </div>

  <div id='total_marks_div'> {{ test.total_marks }} </div>

  <div id='test_id_div'> {{ test.id }} </div>
  
  <div id='time_in_mins_div'> {{ test.time_in_mins }} </div>
  
  <div id='user_id_div'> {{ current_user.id }} </div>
  
  <div id='positive_marks_div'> {{ test.positive_marks }} </div>
  
  <div id='negative_marks_div'> {{ test.negative_marks }} </div>

  
  
  <!-- quiz comes here reactjs starts here-->  
  <div id='quiz' ></div>

</div>


      
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML" async>
</script>

{% include 'tests/front_test.html' %}
{% endblock app_content %}


