{% extends "base.html" %}
{% block app_content %}
asdadsDASS
  <article class="media content-section">
    <div class="media-body">

        <h2 class="article-title"> Test Name : {{ test.test_name }}</h2>

      <p class="article-content"> Category : {{ test.category }}</p>

      {% if usertest == None %}

                  <div class='taken-test-btn' id='taken-test-btn'><a href="{{ url_for('tests.take_test', test_id=test.id) }}">Take Test</a></div>

      {% else %}
          <p class="taken-test-p"> <strong> Status = <font color="darkslateblue"> Taken </strong> </p>
          <p class="taken-test-p">
            <strong> Date = <font color="darkslateblue">
                                    {{ moment(usertest.timestamp).format('LLL')}}
                                    {{ moment.include_jquery() }}
                                    {{ moment.include_moment() }}
              </strong>
          </p>



          <h2 class="taken-test-p"><strong> Score Sheet Total </strong></h2>

          <table id="score-sheet">

            <tr>
              <th>Total</th>
              <th>Total Qs </th>
              <th>Your Score</th>
              <th>Postive </th>
              <th>Negative </th>
              <th>Attempted</th>
              <th>Un-Attempted</th>
              <th>Correct</th>
              <th>Wrong</th>
              <th>Time Taken(mins)</th>

            <tr>

              <td>{{ test.total_marks }}</td>
              <td>{{ test.total_no_of_questions }}</td>
              <td>{{ usertest.user_score }}</td>
              <td>{{ usertest.positive_score }}</td>
              <td>{{ usertest.negative_score }}</td>
              <td>{{ usertest.attempted_ques }}</td>
              <td>{{ usertest.no_answers }}</td>
              <td>{{ usertest.correct_answers }}</td>
              <td>{{ usertest.wrong_answers }}</td>
              <td>{{ usertest.time_taken }}</td>


            </tr>

          </table>
<br>
          <h2 class="taken-test-p"><strong> Score Sheet Sections </strong></h2>


          <h3 class="taken-test-p"><strong> Maths </strong></h2>

          <table id="score-sheet">

            <tr>
              <th>Total</th>
              <th>Total Qs </th>
              <th>Your Score</th>
              <th>Postive </th>
              <th>Negative </th>
              <th>Attempted</th>
              <th>Un-Attempted</th>
              <th>Correct</th>
              <th>Wrong</th>

            <tr>

              <td>{{ test.marks_maths }}</td>
              <td>{{ test.no_of_questions_maths }}</td>
              <td>{{ usertest.total_score_maths }}</td>
              <td>{{ usertest.positive_score_maths }}</td>
              <td>{{ usertest.negative_score_maths }}</td>
              <td>{{ usertest.attempted_maths }}</td>
              <td>{{ usertest.un_attempted_maths }}</td>
              <td>{{ usertest.correct_attempted_maths }}</td>
              <td>{{ usertest.wrong_attempted_maths }}</td>

            </tr>

          </table>


<br>
          <h3 class="taken-test-p"><strong> Physics </strong></h2>

          <table id="score-sheet">

            <tr>
              <th>Total</th>
              <th>Total Qs </th>
              <th>Your Score</th>
              <th>Postive </th>
              <th>Negative </th>
              <th>Attempted</th>
              <th>Un-Attempted</th>
              <th>Correct</th>
              <th>Wrong</th>

            <tr>

              <td>{{ test.marks_physics }}</td>
              <td>{{ test.no_of_questions_physics }}</td>
              <td>{{ usertest.total_score_physics }}</td>
              <td>{{ usertest.positive_score_physics }}</td>
              <td>{{ usertest.negative_score_physics }}</td>
              <td>{{ usertest.attempted_physics }}</td>
              <td>{{ usertest.un_attempted_physics }}</td>
              <td>{{ usertest.correct_attempted_physics }}</td>
              <td>{{ usertest.wrong_attempted_physics }}</td>

            </tr>

          </table>


<br>
          <h3 class="taken-test-p"><strong> Chemistry </strong></h2>

          <table id="score-sheet">

            <tr>
              <th>Total</th>
              <th>Total Qs </th>
              <th>Your Score</th>
              <th>Postive </th>
              <th>Negative </th>
              <th>Attempted</th>
              <th>Un-Attempted</th>
              <th>Correct</th>
              <th>Wrong</th>

            <tr>

              <td>{{ test.marks_chemistry }}</td>
              <td>{{ test.no_of_questions_chemistry }}</td>
              <td>{{ usertest.total_score_chemistry }}</td>
              <td>{{ usertest.positive_score_chemistry }}</td>
              <td>{{ usertest.negative_score_chemistry }}</td>
              <td>{{ usertest.attempted_chemistry }}</td>
              <td>{{ usertest.un_attempted_chemistry }}</td>
              <td>{{ usertest.correct_attempted_chemistry }}</td>
              <td>{{ usertest.wrong_attempted_chemistry }}</td>

            </tr>

          </table>

      {% endif  %}

    </div>
  </article>
{% endblock app_content %}
