{% extends "base.html" %}
{% block app_content %}

  <article class="media content-section">
    <div class="media-body">

        <h2 class="taken-test-p"> <strong> Test Name : <font color="darkslateblue"> {{ test.test_name }}</h2>

      <p class="taken-test-p"> <strong>   Category : <font color="darkslateblue"> {{ test.category }}</p>

      {% if usertest == None %}

                  <div class='taken-test-btn' id='taken-test-btn'><a href="{{ url_for('tests.take_test', test_id=test.id) }}">Take Test</a></div>

      {% else %}
          <p class="taken-test-p"> <strong> Status = <font color="darkslateblue"> Taken </strong> </p>
          <p class="taken-test-p">
            <strong> Date = <font color="darkslateblue">
                                    {{ moment(usertest.timestamp).format('LLL')}}
                                    {{ moment.include_jquery() }}
                                    {{ moment.include_moment() }}
              </strong>
          </p>



          <h2 class="taken-test-p"><strong> Score Sheet Total </strong></h2>

          <table id="score-sheet">

            <tr>
              <th>Total</th>
              <th>Total Qs </th>
              <th>Your Score</th>
              <th>Postive </th>
              <th>Negative </th>
              <th>Attempted</th>
              <th>Un-Attempted</th>
              <th>Correct</th>
              <th>Wrong</th>
              <th>Time Taken(mins)</th>

            <tr>

              <td>{{ test.total_marks }}</td>
              <td>{{ test.total_no_of_questions }}</td>
              <td>{{ usertest.user_score }}</td>
              <td>{{ usertest.positive_score }}</td>
              <td>{{ usertest.negative_score }}</td>
              <td>{{ usertest.attempted_ques }}</td>
              <td>{{ usertest.no_answers }}</td>
              <td>{{ usertest.correct_answers }}</td>
              <td>{{ usertest.wrong_answers }}</td>
              <td>{{ usertest.time_taken }}</td>


            </tr>

          </table>
<br>
          <h2 class="taken-test-p"><strong> Score Sheet Sections </strong></h2>


          <h3 class="taken-test-p"><strong> Maths </strong></h2>

          <table id="score-sheet">

            <tr>
              <th>Total</th>
              <th>Total Qs </th>
              <th>Your Score</th>
              <th>Postive </th>
              <th>Negative </th>
              <th>Attempted</th>
              <th>Un-Attempted</th>
              <th>Correct</th>
              <th>Wrong</th>

            <tr>

              <td>{{ test.marks_maths }}</td>
              <td>{{ test.no_of_questions_maths }}</td>
              <td>{{ usertest.total_score_maths }}</td>
              <td>{{ usertest.positive_score_maths }}</td>
              <td>{{ usertest.negative_score_maths }}</td>
              <td>{{ usertest.attempted_maths }}</td>
              <td>{{ usertest.un_attempted_maths }}</td>
              <td>{{ usertest.correct_attempted_maths }}</td>
              <td>{{ usertest.wrong_attempted_maths }}</td>

            </tr>

          </table>


<br>
          <h3 class="taken-test-p"><strong> Physics </strong></h2>

          <table id="score-sheet">

            <tr>
              <th>Total</th>
              <th>Total Qs </th>
              <th>Your Score</th>
              <th>Postive </th>
              <th>Negative </th>
              <th>Attempted</th>
              <th>Un-Attempted</th>
              <th>Correct</th>
              <th>Wrong</th>

            <tr>

              <td>{{ test.marks_physics }}</td>
              <td>{{ test.no_of_questions_physics }}</td>
              <td>{{ usertest.total_score_physics }}</td>
              <td>{{ usertest.positive_score_physics }}</td>
              <td>{{ usertest.negative_score_physics }}</td>
              <td>{{ usertest.attempted_physics }}</td>
              <td>{{ usertest.un_attempted_physics }}</td>
              <td>{{ usertest.correct_attempted_physics }}</td>
              <td>{{ usertest.wrong_attempted_physics }}</td>

            </tr>

          </table>


<br>
          <h3 class="taken-test-p"><strong> Chemistry </strong></h2>

          <table id="score-sheet">

            <tr>
              <th>Total</th>
              <th>Total Qs </th>
              <th>Your Score</th>
              <th>Postive </th>
              <th>Negative </th>
              <th>Attempted</th>
              <th>Un-Attempted</th>
              <th>Correct</th>
              <th>Wrong</th>

            <tr>

              <td>{{ test.marks_chemistry }}</td>
              <td>{{ test.no_of_questions_chemistry }}</td>
              <td>{{ usertest.total_score_chemistry }}</td>
              <td>{{ usertest.positive_score_chemistry }}</td>
              <td>{{ usertest.negative_score_chemistry }}</td>
              <td>{{ usertest.attempted_chemistry }}</td>
              <td>{{ usertest.un_attempted_chemistry }}</td>
              <td>{{ usertest.correct_attempted_chemistry }}</td>
              <td>{{ usertest.wrong_attempted_chemistry }}</td>

            </tr>

          </table>


<h1></h1>

  <head>
    <title> Quiz Project</title>
    <link rel="text/css" type="text/css" href=" {{ url_for('static', filename='stylesheet.css')}} " >
  </head>
     <div id='container' class='container'>
      <div id='title' class='test-title'>
        <h4 id='test-title'>{{ test.test_name }}</h4>
      </div>
              <span id="timerCount" class="timerCount"></span>
        <br/>


        <div id='test_instr_div'> {{ test.instructions }} </div>

        <div id='total_marks_div'> {{ test.total_marks }} </div>


        <div id='test_id_div'> {{ test.id }} </div>
        <div id='time_in_mins_div'> {{ test.time_in_mins }} </div>
        <div id='user_id_div'> {{ current_user.id }} </div>
        <div id='positive_marks_div'> {{ test.positive_marks }} </div>
        <div id='negative_marks_div'> {{ test.negative_marks }} </div>


        <div id='end_of_test_div' class='end_of_test_div' >Reached End of Test.
          </div>
        <div id='quiz' > </div>
        <div class='button' id='checkQuiz'><a href='#'>Check Answers</a></div>
        <div class='prev_next' id='prev'><a href='#'>Prev</a></div>
        <div class='prev_next' id='next'><a href='#'>Next</a></div>

        <div class='submitQuiz' id='submitQuiz'><a href='#'>Submit</a></div>

        <!-- <button class='' id='next'>Next</a></button>
        <button class='' id='prev'>Prev</a></button>
        <button class='' id='start'> Start Over</a></button> -->

      </div>

     <div id='ques_nav_container' name='ques_nav_container' class="ques_nav_container">

          <div id='nav_for_questions' >
              <h4 id='nav_for_questions'> <strong> </strong></h4>
          </div>
        <div id='ques_buttons_div' >
        </div>

        <div id='selections_div' >
        </div>

        <script type="text/javascript">

        var user_selections = {{ user_selections|safe }};

        </script>

  </div>
<script>


</script>

    <script type='text/javascript' src='{{ url_for('static', filename='js/jquery.min.js')}}'></script>
    <script type='text/javascript' src='{{ url_for('static', filename='js/js_quiz_submitted.js')}}'></script>


    </script>

      {% endif  %}

    </div>
  </article>
{% endblock app_content %}
