    <table class="table table-hover">
        <tr>
            <td width="70px">
                <a href="{{ url_for('main.user', username=post.user.username) }}" class="user_data_class">
                    <!--
                       {# <img src="{{ post.user_id.avatar(70) }}" /> #}
                    -->
                    <img class="rounded-circle article-img" src="{{url_for('static', filename='profile_pics/' + post.user.image_file)}}">
                </a>
            </td>
            {% if user == current_user %}
                <td>
                    <a href="{{ url_for('main.user', username=post.user.username) }}" class="user_data_class">
                        You
                    </a>
                    have completed the test -
                    <a class="user_data_class" href="{{ url_for('tests.test', test_id=post.test.id, user_id=current_user.id) }}">
                        {{ post.test.test_name }}
                    </a>

                    {{ moment(post.timestamp).fromNow() }}:

                    {{ moment.include_jquery() }}
                    {{ moment.include_moment() }}

                    <br>
                    {{ post.body }}
                </td>
                {% else %}

            <td><p class="user_data_class">
                <a href="{{ url_for('main.user', username=post.user.username) }}" class="user_data_class">
                    {{ post.user.username }}
                </a>
                has completed the test -
                <a class="user_data_class" href="{{ url_for('tests.test', test_id=post.test.id, user_id=current_user.id) }} class="user_data_class"">
                    {{ post.test.test_name }}
                </a>

                {{ moment(post.timestamp).fromNow() }}:

                {{ moment.include_jquery() }}
                {{ moment.include_moment() }}

                <br>
                {{ post.body }}

                </p>
            </td>
                        {% endif %}

        </tr>
    </table>
