    <table class="table table-hover">
        <tr>
            <td width="70px">
                <a href="{{ url_for('main.user', username=post.user_id) }}">
                    <!-- 
                       {# <img src="{{ post.user_id.avatar(70) }}" /> #}
                    -->
                </a>
            </td>
            <td>
                <a href="{{ url_for('main.user', username=current_user.username) }}">
                    {{ post.user_id }}
                </a>
		has taken this test {{ moment(post.timestamp).fromNow() }}:
                <br>
                {{ post.body }}
            </td>
        </tr>
    </table>
